extends layout

block title
    title Memes
block content
    h1 Memes
    #memeContainer(ng-controller="MainController")
        for meme in injectedImages
            .individualMeme
                img(src= meme.image)
                p.memeText(ng-hide="newText")= meme.text
                p.newText(ng-show="newText") {{newText}}
                input(type='text' placeholder='Change meme text' ng-model="newText")
                input(type='submit' value='Submit')
