extends layout

block title
    title Memes
block content

    #memeContainer(ng-app='myApp')
        h1(class="jumbotron") Memes
        .controller(ng-controller="MainController")
            for meme in injectedImages
                .individualMeme
                    img(src= meme.image)
                    h2(class="memeText" ng-hide="caption" + meme.model)= meme.text
                    h2(ng-model="caption" + meme.model ng-show="caption" + meme.model)= "{{caption" + meme.model+ "}}"
                    form(ng-submit="submit")
                        input(type='text' placeholder='Change meme text' ng-model= "caption" + meme.model)
