body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
img{
  width: auto;
  height: 212px;
}
.individualMeme{
  float: left;
  margin-right: 15px;
}
